.sign_form {
    background: #fff;
    border-radius: 3px;
    padding: 50px 50px 30px;
    box-shadow: -0.083333333in 0.5pc 1.125pc -7px rgb(25 42 70 / 13%);
    flex: 1;
    float: right;
    width: 100%;
    margin-left: 12px;
    text-align: left;
}

div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAccordion-root.MuiAccordion-rounded.css-1fjvggn-MuiPaper-root-MuiAccordion-root{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    position: relative;
    -webkit-transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow-anchor: none;
    border: 0px solid rgba(0, 0, 0, 0.12);
}